/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	padding:0;
	margin:0;
}

body {
	text-align:center;
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#EEE;
	background-image:url(../img/background.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#272625;
	background-size:contain;
	width:100%;
	height:100%;
}

@media screen and (min-width:1700px) {
	body {
		/*background-size:cover;*/
	}
}


iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

a {
	color:#B89F77;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color: #a48e6a;
	text-decoration:underline;
	transition:color 0.25s ease-out;
}

h1, h2, h3, h4, h5 {
	font-family: 'Amatic SC', sans-serif;
	font-size:300%;
	padding:6px 0;
	margin:6px 0 12px 0;
	color:#CCC;
	font-weight:normal;
}

h1 {
	font-size:400%;
	margin:0 auto;
	padding:0;
	width:50vw;
	max-width:590px;
	position:relative;
}

h1:before {
	content:"";
	display:block;
	padding-top:28.86%; 	/* initial ratio of 1:1*/
}

h1 .logo {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-image:url(../img/logo.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	text-indent:-10000px;
}

h2 {
	font-size:300%;
	padding:0;
	margin:0 0 20px 0;
}

h3 {
	font-size:250%;
	border-bottom:1px solid rgba(255, 255, 255, 0.25);
}

h4 {
	font-size:150%;
	border-bottom:1px solid rgba(255, 255, 255, 0.15);
	padding:0;
	margin:0;
}

p {
	margin:6px 0;
}

video {
	display:none;
}

.header {
	position:relative;
	width:100%;
	overflow:hidden;
	height:30vw;
}

.header-content {
	width:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.contact ul {
	list-style:none;
	margin:0;
	padding:0;
}

.contact ul li {
	display:inline-block;
	margin:0 6px;
	padding:0;
}

.contact ul li a {
	font-size:18px;
	opacity:0.5;
	color:#333;
	display:block;
	padding:5px;
	transition:opacity 0.25s ease-out;
}

@media screen and (max-width:640px) {
	.contact ul li a {
		font-size:14px;
	}
}

@media screen and (max-width:320px) {
	.contact ul li a {
		font-size:12px;
	}
}

.contact ul li a:hover {
	opacity:1;
}

.player {
	width:100%;
	height:100px;
}

.content {
	display:block;
	width:auto;
	max-width:980px;
	overflow:hidden;
	padding:12px 0;
	margin:0 auto;
	position:relative;
	z-index:2;
}

.content:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.col {
	width:33.33%;
	float:left;
	padding:0 6px;
}

.col:first-child {
	padding-left:12px;
}

.col:last-child {
	padding-right:12px;
}

@media (max-width: 768px) {
	.col {
		width:100%;
		max-width:400px;
		margin:0 auto;
		padding:0 12px;
		float:none;
	}
}

.flyer {
	width:100%;
	height:auto;
}


.music {
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
}

.music li {
	padding:0 0 12px 0;
	clear:both;
}


.music li:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.music li img {
	width:120px;
	height:auto;
	float:left;
}

.music li .description {
	width:70%;
	padding:0 0 0 12px;
	float:left;
}

.shows {
	max-height: 460px;
	overflow: auto;
}

.shows-wrapper {
	margin:-35px -200px 0 -20px;
}


.fixed-ratio-bandcamp {
	position:relative;
	width: 100%;
	padding-bottom:140%;
}


.fixed-ratio-bandcamp *:first-child {
	position:absolute;
	width:100%;
	height:100%;

}
